# CSE110 Assignment 4


## Write the Python code of the following problems:
**<font color='red'>[MUST MAINTAIN VARIABLE NAMING CONVENTIONS FOR ALL THE TASKS]</font>**

## Part 1: Tuple

### Task 1

Assume, you have been given a tuple.

a_tuple = ("The Institute",\
        ("Best Mystery & Thriller", "The Silent Patient", 68821),\
        75717,\
        [1, 2, 3, 400, 5, 6, 7],\
        ("Best Fiction", "The Testaments", 98291)\
)

Write **one line** of Python code to access and print the value 400.

Output: 400

In [ ]:
#TODO
a_tuple = ("The Institute",
("Best Mystery & Thriller", "The Silent Patient", 68821),
75717,
[1, 2, 3, 400, 5, 6, 7],
("Best Fiction", "The Testaments", 98291)
)
print(a_tuple[3][3])

400

### Task 2

Assume, you have been given a tuple. Write a Python program that creates a **new tuple** excluding the first and last two elements of the given tuple and prints the new tuple. 

================================================================

**Hint:** You need to use tuple slicing.

================================================================

**Input 1:**\
(10, 20, 24, 25, 26, 35, 70)\
**Output 1:**\
(24, 25, 26)

================================================================

**Input 2:**\
(-10, 20, 30, 40)\
**Output 2:**\
()

================================================================

**Input 3:**\
(-10, 20, 25, 30, 40)\
**Output 3:**\
(25,)

In [ ]:
#Todo
AssumedTumple = (10, 20, 24, 25, 26, 35, 70)

newTuple = AssumedTumple[2:len(AssumedTumple)-2] 
print(newTuple)

(24, 25, 26)

### Task 3

Assume, you have been given a tuple. 


book_info = (\
    ("Best Mystery & Thriller","The Silent Patient",68,821),\
    ("Best Horror","The Institute",75,717),\
    ("Best History & Biography","The five",31,783 ),\
    ("Best Fiction","The Testaments",98,291)\
)

Write a Python program that prints its size and all its elements.

===============================================================

**Output:**\
Size of the tuple is: 4\
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)\
('Best Horror', 'The Institute', 75, 717)\
('Best History & Biography', 'The five', 31, 783)\
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#Todo
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print("Size of the tuple is: "+str(len(book_info)))
for r in book_info:
  print(r)

Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

### Task 4

Assume, you have been given a tuple. 

book_info = (\
    ("Best Mystery & Thriller","The Silent Patient",68821),\
    ("Best Horror","The Institute",75717),\
    ("Best History & Biography","The five",31783 ),\
    ("Best Fiction","The Testaments",98291)\
)

Write a Python program that prints the information about the Good Reads Choice Awards from a tuple. Your program should print the award category, the book name, and its total votes needed for the win.

===============================================================

**Hint:** You need to handle the quotation marks as a part of the output.
**<font color='red'>[Must use Tuple unpacking for printing.]</font>**


===============================================================

**Output:**\
The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes\
The Institute won the 'Best Horror' category with 75717 votes\
The five won the 'Best History & Biography' category with 31783 votes\
The Testaments won the 'Best Fiction' category with 98291 votes

In [ ]:
#Todo
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)
for r in book_info:
  print(str(r[1])+" won the '"+str(r[0])+"' category with "+str(r[2])+" votes")

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

### Task 5
Write a python program that takes an input from the user and finds the number of times that input is present in the tuple.

===============================

<b>Input 1 </b><br/>
(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2) <br/>
8<br/>
<b> Output 1 </b> <br/>
8 appears 4 times in the tuple<br/>

=============================================

<b> Input 2 </b><br/>
(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)<br/>
1<br/>
<b> Output 2 </b><br/>
1 appears 0 times in the tuple

In [ ]:
#Todo
tuple1 = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
num = int(input("Enter a number:"))
sum = 0
for r in tuple1:
  if r == num:
    sum = sum +1
print(str(num)+" appears "+str(sum)+" times in the tuple")

Enter a number:8
8 appears 4 times in the tuple

### Task 6
Write a Python program to reverse a tuple.

===============================================================

<b> Hint: </b>  Unlike lists, tuples are immutable. So, in order to reverse a tuple, first we need to convert it into list, modify, then convert it back to tuple. 

===============================

<b>Input 1 </b><br/>
('a','b','c','d','e','f','g','h') <br/>
<b> Output 1 </b> <br/>
('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')<br/>

================================

<b> Input 2 </b><br/>
(10,20,30,40,50,60)<br/>
<b> Output 2 </b><br/>
(60, 50, 40, 30, 20, 10)

In [ ]:
#todo
a = input("enter a tuple: ")
count = 0
dist = {}
arr = a.replace("(","").replace(")","").replace("'","").split(",")
arrempt = []


for r in range(1,len(arr)+1):
  arrempt.append(arr[-r])
print(tuple(arrempt))

enter a tuple: ('a','b','c','d','e','f','g','h')
('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

## Part 2: Dictionary

### Task 07
Suppose you are given the following two dictionaries.\
Now create a new dictionary marks merging the two of the above dictionaries, **so that the original two dictionaries remain unchanged.**

========================================

**Hint:** You can use dictionary functions.

========================================

**Input:**\
{'Harry':15, 'Draco':8, 'Nevil':19}\
{'Ginie':18, 'Luna': 14}

**Output:**\
{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}


========================================

**Input:**\
{'A':90, 'B': 0}\
{'C':50}

**Output:**\
{'A': 90, 'B': 0, 'C': 50}

In [ ]:
#todo
dict1 = {'Harry':15, 'Draco':8, 'Nevil':19}
dict2 = {'Ginie':18, 'Luna': 14}
newdict = {}
for r in dict1:
  newdict[r] = dict1[r]
for r in dict2:
  newdict[r] = dict2[r]
print(newdict)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

### Task 08
Write a Python program that takes a dictionary as a input from the user, then prints the average of all the values in a dictionary.

 <font color='red'>[ You are not allowed to use len() and sum()]</font>

========================================

**Hint:** You can use dictionary functions to get all the values of the dictionary, then run loop to calculate the sum and the total number of values in the dictionary.

========================================

**Input:**\
{'Jon': 100, 'Dan':200, 'Rob':300}

**Output:**\
Average is 200

========================================


**Input:**\
{'Jon': 100, 'Dan':200, 'Rob':30}

**Output:**\
Average is 110

In [ ]:
#todo
a = input("input a dictionary: ")
count = 0
dist = {}
arr = a.replace("{","").replace("}","").split(",")
for r in arr:
  substring = r.split(":")
  dist[substring[0]]=int(substring[1])
sum = 0
for values in dist.values():
  sum = sum + int(values)
  count = count + 1
print("Average is "+str(int(sum/count)))

{'Jon': 100, 'Dan':200, 'Rob':300}
Average is 200

### Task 09
Suppose there is a dictionary named exam_marks.\
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}

Now create a new dictionary which filters out all the values lower than the user input

===============================

**Input:**\
170\
**Output:**\
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

===============================

**Input:**\
190\
**Output:**\
{'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#todo
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
num = int(input("Enter a number: "))
arr = {}
for r in exam_marks.keys():
  # print(exam_marks[r])
  if exam_marks[r]>=num:
    arr[r]= exam_marks[r]
print(arr)

Enter a number: 170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

### Task 10
Write a Python program that finds the largest value with its key from the following dictionary.

 <font color='red'>[without using max() function]</font> 

===============================================================

**Hint:** Think of membership operators (in and not in). You can use dictionary functions to get the values.

===============================================================

**Input:**\
 {'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}

**Output:**\
The highest selling book genre is mystery and the number of books sold are 15

===============================================================

**Input:**\
{'sci fi': 5, 'mystery': 3, 'horror': 14,
             'young_adult': 2, 'adventure':9}

**Output:**\
The highest selling book genre is  horror  and the number of books sold are  14

In [ ]:
#todo
a = input("input a dictionary: ")
count = 0
dist = {}
arr = a.replace("{","").replace("}","").split(",")
for r in arr:
  substring = r.split(":")
  dist[substring[0]]=int(substring[1])
max = 0
book = ""
dict_movies = dist
for r in dict_movies.keys():
  if dict_movies[r]>max:
    max = dict_movies[r]
    book = r
print('The highest selling book genre is'+book.replace("'","")+' and the number of books sold are '+str(max))

input a dictionary: {'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure':9}
The highest selling book genre is horror and the number of books sold are 14

### Task 11
Write a Python program that combines two dictionary **adding values for common keys**. 

===============================================================

**Hint:** Think of membership operators (in and not in). You can use dictionary functions to get the values. Need to create a new dictionary to store the combined items.

===============================================================

**Input:**\
dict1 = {'a': 10, 'b':20, 'c':30}\
dict2 = {'a': 10, 'c':20, 'd':30, 'e':40}

**Output:**\
{'a': 20, 'b': 20, 'c': 50, 'd': 30, 'e': 40}

In [ ]:
#todo
a = input("dict1 = ")
b = input("dict2 = ")

count = 0
dict1 = {}
dict2 = {}
arr1 = a.replace("{","").replace("}","").split(",")
arr2 = b.replace("{","").replace("}","").split(",")

for r in arr1:
  substring = r.split(":")
  dict1[substring[0]]=int(substring[1])
for r in arr2:
  substring = r.split(":")
  dict2[substring[0]]=int(substring[1])

dist3 = {}

for r in dict1.keys():
  if z in dict2.keys():
    dist3[z] = dict1[z]+dict2[z]
  else:
    dist3[z] = z[1]
for r in dict2.items():
  if c not in dist3.items():
    dist3[c[0]] = r[1]
  
print(dist3)

dict1 = {'a': 10, 'b':20, 'c':30}
dict2 =  {'a': 10, 'c':20, 'd':30, 'e':40}
{"'": 'a', ' ': 50, " 'a'": 10, " 'c'": 20, " 'd'": 30, " 'e'": 40}

### Task 12
Write a Python program which prints the frequency of the numbers that were given as input by the user. Stop taking input when you find the string "STOP".

===============================

**Hints:** Use a dictionary to solve the problem

===============================

**Input:**\
10, 20, 20, 30, 10, 50, 90, STOP

**Output:**\
10 - 2 times\
20 - 2 times\
30 - 1 times\
50 - 1 times\
90 - 1 times

In [ ]:
#todo
arr = input("enter a list ending with 'STOP': ").split(",")
arr1 = []
for r in arr:
  arr1.append(r.strip())

done = []
for r in arr1:
  if r not in done and r != 'STOP':
    print(r+" - "+str(arr1.count(r))+" times")
    done.append(r)

enter a list ending with 'STOP': 10, 20, 20, 30, 10, 50, 90, STOP
10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times

### Task 13
Write a Python program that takes a string as an input from the user and counts the frequency of each character using the dictionary. For solving this problem, you need to use each character as a key and its frequency as values. <font color='red'>[without using count() function]</font> 

===============================================================

**Hint:** Need to create a new dictionary to store the frequency. Case is ignored (P and p are considered same).


===============================================================

**Input:**\
"Python programming is fun"

**Output:**\
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#todo
string = input("enter a string: ").lower().replace(" ","")
dict = {}
for r in string:
  if r in dict:
    dict[r] = dict[r]+1
  else:
    dict[r] = 1

print(dict)

enter a stringPython programming is fun
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

### Task 14
Suppose you are given the following dictionary where its values are lists. 


dict = {'A': [1,2,3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}

Write a Python program that counts the total number of items in the dictionary’s values and prints it. 

<font color='red'>[without using sum() , len(), count() function]</font> 

===============================================================

**Output:**\
9

In [ ]:
#todo
count = 0
dict = {'A': [1,2,3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
for r in  dict:
  for j in dict[r]:
    count = count + 1
print(count)

9

### Task 15

Suppose you have been given the following list of tuples. 

list = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]

Write a Python program that converts this list of tuples into a dictionary and prints the dictionary. 

<font color='red'>[You are not allowed to use set]</font> 

===============================================================

**Hint:** Think of membership operators (in and not in).

===============================================================

**Output:**

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
#todo
list1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dist = {}
for x in list1:
  dist[x[0]] = []


for r in list1:
    # print(dist[r[0]].append(r[1]))
    dist[r[0]].append(r[1])
  
print(dist)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

## Optional Tasks (16-20) [Ungraded]

### Task 16

Given a list of tuples, the task is to multiply the elements of the tuple and return list of multiplied elements.

===============================

**Input 1:**\
[(2,3),(4,5),(6,7),(2,8)]\
**Output 1:**\
[6,20,42,16]

=============================

**Input 2:**\
 [(11, 22), (33, 55), (55, 77), (11, 44)]\
**Output 2:**\
[242, 1815, 4235, 484]

In [1]:
#todo
arr = [(2,3),(4,5),(6,7),(2,8)]
empty = []
for r in arr:
  empty.append(r[0]*r[1])
print(empty)

[6, 20, 42, 16]

### Task 17

Assume, you have been given a tuple.

a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])

Write a Python program that asks the user for input (can be any data type) and **replaces the last element of each of the inner lists with the user given value.**

===============================================================

**Example 1:**\
Input: abc\
Output: ([1, 2, 'abc'], [4, 5, 'abc'], [7, 8, 'abc'], [10, 11, 'abc'])

===============================================================

**Example 2:**\
Input: 1000\
Output: ([1, 2, '1000'], [4, 5, '1000'], [7, 8, '1000'], [10, 11, '1000'])

In [3]:
#todo
word = input()
arr = a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
for r in arr:
  r[len(r)-1] = word
print(arr)

abc
([1, 2, 'abc'], [4, 5, 'abc'], [7, 8, 'abc'], [10, 11, 'abc'])

### Task 18

Suppose there is a dictionary named my_dictionary.

my_dictionary = {'c1': 'Red', 'c2': 'Green', 'c3': None, 'd4': 'Blue'}.

Now write a Python program to remove empty items in the dictionary. Empty items means keys without any values(None).

===============================================================

**Output:**\
{'c1':'Red','c2':'Green','d4':'Blue'}.

In [13]:
#todo
my_dictionary = {'c1': 'Red', 'c2': 'Green', 'c3': None, 'd4': 'Blue'}
# print(dir(my_dictionary))
keys = my_dictionary.keys()
# del my_dictionary['c3']
# print(my_dictionary)
# print(keys)
for r in list(keys):
  if my_dictionary[r] == None:
    del my_dictionary[r]
print(my_dictionary)

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

### Task 19

Given a range of values, extract all the items whose keys lie in range of values of a given dictionary:

dictionary = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11}

===============================


**Input 1:**\
9, 12\
**Output 1:**\
{'c': 9, 'e': 11}

**Explanation**  Keys within 9 and 11 range extracted.

=================================

**Input 2:** \
 14, 18

**Output 2 :**\
 {}

**Explanation :**  No values in range.

In [17]:
#todo
range = input().strip().replace(" ","").split(",")
empt = {}
dictionary = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11}
for r in dictionary:
  if dictionary[r]>= int(range[0]) and dictionary[r]<= int(range[1]):
    empt[r] = dictionary[r]
print(empt)

9,12
{'c': 9, 'e': 11}

### Task 20

Given a list of tuples, the task is to group the tuples by matching the **second** element in the tuples. We can achieve this using **dictionary** by checking the second element in each tuple.

===============================

**Input 1:**\
[(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]\
**Output1:**\
{80: [(20, 80), (31, 80)],\
         11: [(88, 11), (27, 11)],\
         22: [(1, 22)]}

         
============================================

**Input 2 :**\
[(20, 'Sad'), (31, 'Sad'), (88, 'NotSad'), (27, 'NotSad')]\
**Output 2:**\
{'NotSad': [(88, 'NotSad'), (27, 'NotSad')],\
         'Sad: [(20, 'Sad'), (31, 'Sad')]}

In [19]:
#todo
arr = [(20, 80), (31, 80), (1, 22), (88, 11), (27, 11)]
empt = {}
for r in arr:
  if r[1] not in empt:
    empt[r[1]] = [r]
  else:
    empt[r[1]].append(r)
print(empt)

{80: [(20, 80), (31, 80)], 22: [(1, 22)], 11: [(88, 11), (27, 11)]}